<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="http://localhost/sysfac/Views/css/panel.css"
    />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container_all">
      <div class="menuBar">
        <div class="flex">
          <!-- <button class="btnToggleBar"><i class="ph ph-list"></i></button> -->
          <div class="logo">
            <!-- background image del logo -->
          </div>
        </div>
        <nav class="nav">
          <ul>
            <li>
              <a href="" data-content="Dashboard" class="nav__link selected"
                ><i class="ph ph-squares-four"></i><span>Dashboard</span></a
              >
            </li>
            <li>
              <a href="" data-content="Usuarios" class="nav__link"
                ><i class="ph ph-users"></i><span>Usuarios</span></a
              >
            </li>
            <li>
              <a href="" data-content="Productos" class="nav__link"
                ><i class="ph ph-dropbox-logo"></i><span>Productos</span></a
              >
            </li>
            <li>
              <a href="" data-content="Categorías" class="nav__link"
                ><i class="ph ph-list-dashes"></i><span>Categorías</span></a
              >
            </li>
            <li>
              <a href="" data-content="Ventas" class="nav__link"
                ><i class="ph ph-ticket"></i><span>Ventas</span></a
              >
            </li>
            <li>
              <a href="" data-content="Compras" class="nav__link"
                ><i class="ph ph-shopping-cart"></i><span>Compras</span></a
              >
            </li>
            <li>
              <a href="" data-content="Almacenes" class="nav__link"
                ><i class="ph ph-warehouse"></i><span>Almacenes</span></a
              >
            </li>
          </ul>
          <div class="logout">
            <a href="" data-content="Cerrar sesión" class="nav__link"
              ><i class="ph ph-sign-out"></i><span>Cerrar sesión</span></a
            >
          </div>
        </nav>
      </div>
      <div class="menuBar__responsive" id="menuBarResponsive">
        <div class="flex">
          <button class="btnToggleBar"><i class="ph ph-list"></i></button>
          <div class="logo">
            <!-- background image del logo -->
          </div>
        </div>
        <div class="user">
          <p class="user__name">Hola <span>Jhonan</span></p>
          <span class="user__type">ADMINISTRADOR</span>
        </div>
        <nav class="nav">
          <ul>
            <li>
              <a href="" class="res__nav__link"
                ><i class="ph ph-squares-four"></i><span>Dashboard</span></a
              >
            </li>
            <li>
              <a href="" class="res__nav__link"
                ><i class="ph ph-users"></i><span>Usuarios</span></a
              >
            </li>
            <li>
              <a href="" class="res__nav__link"
                ><i class="ph ph-dropbox-logo"></i><span>Productos</span></a
              >
            </li>
            <li>
              <a href="" class="res__nav__link"
                ><i class="ph ph-list-dashes"></i><span>Categorías</span></a
              >
            </li>
            <li>
              <a href="" class="res__nav__link"
                ><i class="ph ph-ticket"></i><span>Ventas</span></a
              >
            </li>
            <li>
              <a href="" class="res__nav__link"
                ><i class="ph ph-shopping-cart"></i><span>Compras</span></a
              >
            </li>
            <li>
              <a href="" class="res__nav__link"
                ><i class="ph ph-warehouse"></i><span>Almacenes</span></a
              >
            </li>
          </ul>
          <div class="logout">
            <a href="" class="res__nav__link"
              ><i class="ph ph-sign-out"></i><span>Cerrar sesión</span></a
            >
          </div>
        </nav>
      </div>
      <div class="col_2">
        <header class="header">
          <span>Hola <b>Jhonan</b></span>
          <div class="user">
            <div class="user__icon" id="btnUserbar">
              <i class="ph ph-user-circle"></i>
            </div>
            <div class="user__details">
              <h1 class="user__name">JHONAN CALEB MUÑOZ CARRILLO</h1>
              <span class="user__type">ADMINISTRADOR</span>
            </div>
          </div>
        </header>
        <main class="view">
          <!-- Aqui va la vista  sellecionada en el menú-->
        </main>
      </div>
    </div>
    <script src="http://localhost/sysfac/Views/js/main.js"></script>
  </body>
</html>
