@import url(http://localhost/sysfac/Views/css/main.css);
textarea {
  resize: vertical;
}
.container_all {
  width: 100%;
  height: 100vh;
  background-color: var(--c_dark);
  display: flex;
  gap: 1.5rem;
}
.menuBar {
  width: 18em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5px 0 5px 10px;
  background-color: var(--c_semidark);
  overflow: hidden;
}
.menuBar__responsive {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 100;
  width: min(100%, 17em);
  height: 100vh;
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 5px 0 5px 10px;
  overflow: auto;
  background-color: var(--c_semidark);
  transition: all 0.5s ease-in-out;
}
.menuBar__responsive.show {
  left: 0;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Color de fondo de la barra de desplazamiento */
*::-webkit-scrollbar-track {
  background-color: var(--c_lightPurple);
}

/* Color de la barra de desplazamiento */
*::-webkit-scrollbar-thumb {
  background-color: var(--c_semidark);
  border-radius: 5px;
}
.res__nav__link {
  position: relative;
  display: block;
  padding: 13px;
  background: var(--c_semidark);
  border-radius: 15px 0 0 15px;
  color: var(--c_lightPurple);
  display: flex;
  gap: 15px;
  font-size: 14px;
  cursor: pointer;
}
.res__nav__link:hover {
  filter: brightness(90%);
}
.flex {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.btnToggleBar {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  height: min-content;
  padding: 5px;
  font-size: x-large;
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 10px;
}
.btnToggleBar:hover {
  filter: brightness(80%);
}
.logo {
  width: 8em;
  height: 3em;
  margin: 1rem;
  background-image: url(http://localhost/sysfac/Views/assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.nav ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
}
.nav_item_link {
  position: relative;
  display: block;
  padding: 13px;
  background: var(--c_semidark);
  border-radius: 15px 0 0 15px;
  color: var(--c_lightPurple);
  display: flex;
  gap: 15px;
  font-size: 14px !important;
  cursor: pointer;
}
.nav_item_link.selected {
  background-color: var(--c_dark);
}
.nav_item_link.selected::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 98%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 0 0 50% 0;
  box-shadow: 2px 4px 0 var(--c_dark);
}
.nav_item_link.selected::after {
  content: "";
  position: absolute;
  right: 0;
  top: 98%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 0 50% 0 0;
  box-shadow: 2px -4px 0 var(--c_dark);
}
.nav_item_link:hover {
  filter: brightness(90%);
}
.nav_item_link i {
  position: relative;
  font-size: large;
}
.logout {
  margin: 1rem 5px 1rem 0;
  padding: 10px 0;
  border-top: 1px solid var(--c_dark);
}
.logout .nav_item_link {
  border-radius: 5px;
}
.col_2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}
.header {
  width: 100%;
  padding: 10px 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--c_semidark);
  border-bottom-left-radius: 1rem;
  color: var(--c_lightPurple);
  font-size: small;
}
.header__welcome {
  font-size: small;
}
.header__welcome b {
  text-transform: capitalize;
}
.header__options {
  display: flex;
  align-items: center;
  gap: 5px;
}
.user {
  position: relative;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.notifications {
  position: relative;
  padding: 1em;
}
.notifications__details {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 10;
  width: 30em;
  min-height: 0;
  max-height: 0;
  background-color: var(--c_dark);
  overflow: auto;
  border-radius: 3px;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.notifications__details.show {
  opacity: 1;
  border: 1px solid var(--c_lightPurple);
  min-height: 10em;
  max-height: 30em;
}
.notifications__details__title {
  background-color: var(--c_dark);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  font-size: medium;
  font-weight: 600;
  padding: 10px 1em;
  border-bottom: 1px solid var(--c_lightPurple);
  color: var(--c_lightPurple);
}
.notifications__box {
  height: 100%;
  display: grid;
  place-items: center;
}
.notifications__details__responsive__close {
  position: relative;
  margin-left: 1em;
  margin-top: 1em;
  color: var(--c_lightPurple);
}
.notifications__details__responsive__close i:hover {
  background: var(--c_dark);
  filter: brightness(120%);
}
.notifications__details__responsive {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  width: min(100%, 350px);
  height: 100vh;
  overflow: auto;
  background: var(--c_dark);
  transition: all 0.5s ease-in-out;
}
.notifications__details__responsive.show {
  right: 0;
}
.notification {
  padding: 10px 1em;
  background-color: var(--c_dark);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.notification:hover {
  filter: brightness(150%);
}
.notification__imgBox {
  width: 90px;
  height: 90px;
}
.notification__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.notification__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--c_lightPurple);
}
.notification__title {
  font-size: small;
  font-weight: 600;
}
.notification__p {
  font-size: small;
  font-weight: 300;
  /* estilos para limitar lineas de texto */
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;  */ /* aquí se especifica el número de líneas */
}
.header__icon {
  position: relative;
  font-size: x-large;
  cursor: pointer;
}
.header__icon:hover {
  color: var(--c_sky);
}
.countBox {
  position: absolute;
  bottom: 60%;
  left: 60%;
  width: 15px;
  height: 15px;
  display: grid;
  place-items: center;
  background: var(--c_yellow);
  border-radius: 50%;
  color: var(--c_dark);
  font-size: xx-small;
  font-weight: 600;
  cursor: pointer;
  visibility: hidden;
}
.user__details {
  position: absolute;
  top: 100%;
  right: 15px;
  width: 17em;
  z-index: 10;
  max-height: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  background-color: var(--c_dark2);
  border-radius: 5px;
  border: 1px solid var(--c_lightPurple);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.user__details.show {
  max-height: 10em;
  opacity: 1;
  pointer-events: all;
}
.user__name {
  font-size: 15px;
  color: var(--c_lightPurple);
}
.user__type {
  width: min-content;
  background: var(--c_yellow);
  padding: 5px 10px;
  border-radius: 3px;
  color: var(--c_orange);
  font-weight: 700;
}
/* ? View  */
.view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 1em 10px 0;
}
.flexnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  background-color: var(--c_semidark);
  border-radius: 5px;
  padding: 1em;
}
.titleView {
  color: var(--c_lightPurple);
  font-size: large;
  font-weight: 400;
}
.browser {
  flex: 1 1 300px;
  display: flex;
  align-items: center;
  gap: 1em;
}
.browser__label {
  color: var(--c_lightPurple);
  font-size: small;
  white-space: nowrap;
}
.browser__input {
  width: clamp(240px, 100%, 270px);
  border: none;
  outline: none;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}
.buttons {
  flex: 1 1 200px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 10px;
  white-space: nowrap;
}
.buttons_btn {
  width: min(100%, 10em);
  color: var(--cl);
  border: 1px solid var(--cl);
  padding: 5px;
  background: transparent;
  transition: all 0.3s;
  border-radius: 3px;
  font-size: small;
  text-align: center;
}
.buttons_btn:hover {
  color: var(--c_dark);
  background: var(--cl);
  font-weight: 600;
}
.filterBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
.filter {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px solid var(--c_green);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.filter__products_all_btn {
  margin-left: auto;
  padding: 5px 10px;
  background: var(--c_yellow);
  color: var(--c_dark);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}
.filter__for {
  font-size: small;
  color: var(--c_green);
}
.filter__select {
  background: transparent;
  color: var(--c_green);
  border: none;
  outline: none;
  padding: 0 5px;
}
.filter__select option {
  background-color: var(--c_dark);
  border: none;
  outline: none;
}
.filter__select option:hover {
  filter: brightness(90%);
}
/* Selector para el input de tipo "date" */
.filter__date {
  font-size: small;
  color: var(--c_green);
  background-color: transparent;
  outline: none;
  border: none;
}
/* Selector para el icono del calendario en el input de tipo "date" */
.filter__date::-webkit-calendar-picker-indicator {
  background-color: var(--c_green);
  /* filter: invert(50%); */
}
/* Selector para el texto dentro del input de tipo "date" */
.filter__date::before {
  color: var(--c_green);
}
/* Selector para el texto dentro del input de tipo "date" cuando está enfocado */
.filter__date:focus::before {
  color: var(--c_green);
}

.productsBox {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 170px), 1fr));
  gap: 1em;
}
.product {
  display: flex;
  width: min(100%, 270px);
  flex-direction: column;
  gap: 5px;
  padding: 1em;
  background-color: var(--c_dark);
  text-align: center;
}
.product:hover {
  filter: brightness(130%);
}
.product__imgBox {
  width: 100%;
}
.product__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_name {
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-size: small;
  color: var(--c_lightPurple);
  height: 4em;
}
.product_price {
  font-size: large;
  color: var(--c_orange);
}
.product__available {
  text-align: center;
  font-size: small;
  font-weight: 600;
  color: var(--c_lightPurple);
}
.product__form__submit {
  width: 100%;
  padding: 3px 10px;
  background-color: var(--c_sky);
  border-radius: 4px;
  color: var(--c_dark);
  font-weight: bold;
  font-size: x-large;
}
/* .actions__prods {
  background-color: #fff;
} */
/* .form__prod {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
} */
.form__prod .form__input {
  color: gray;
}
.form__prod .form__submit {
  width: min(100%, 300px);
  /* flex: 1 1 200px; */
  align-self: center;
  padding: 15px;
  margin-top: 7px;
  background: var(--c_yellow);
}
.table__numrows {
  font-size: small;
  color: var(--c_lightPurple);
}
.tableBox {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 800px;
  min-height: 600px;
  overflow: auto;
  border-radius: 5px;
  border: 1px solid var(--c_lightPurple);
}
.table {
  position: relative;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.table__thead {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #f7f7f7;
  color: var(--c_dark);
  font-size: small;
}
.table__thead th {
  padding: 1em;
}
.table__tbody {
  background-color: transparent;
}
.table__tbody tr {
  font-size: small;
  background-color: #fff;
}
.table__tbody tr:hover {
  filter: brightness(95%);
}
.table__tbody td {
  padding: 10px;
  height: 4em;
}
.table__tbody img {
  width: 80px;
  height: 80px;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
.actions__btn {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background: transparent;
  border: 1px solid var(--cl);
  border-radius: 3px;
  padding: 4px 5px 3px 5px;
  color: var(--cl);
  font-size: small;
  cursor: pointer;
}
.actions__btn i {
  position: relative;
  z-index: o;
  font-size: x-large;
}
.empty {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1em;
  padding: 1em;
  background-color: #fff;
}
.empty__imgBox {
  width: min(100%, 15em);
}
.empty__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.empty__message {
  font-size: small;
  font-weight: 600;
  color: var(--c_orange);
}
.categorysBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 13em), 1fr));
  gap: 10px;
  padding: 1em;
  background-color: var(--c_semidark);
  border-radius: 5px;
}
.category {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  background-color: var(--c_dark);
  padding: 10px;
  cursor: pointer;
}
.category__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.category__imgBox {
  width: 100%;
  height: min(100%, 10em);
}
.category__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category__name {
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
  color: var(--c_sky);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(15, 15, 15, 0.7);
  display: none;
  place-items: center;
}
.modal.show {
  display: grid;
}
.box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: min(100%, 400px);
  max-height: 100vh;
  padding: 2rem;
  border-radius: 5px;
  background-color: #fff;
  overflow: auto;
}
.details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: min(100%, 400px);
  max-height: 100vh;
  padding: 2rem;
  border-radius: 5px;
  background-color: #fff;
  overflow: auto;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form__part {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.form__btnclose,
.details__btnclose {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 5px 2px 5px;
  border-radius: 3px;
  background: white;
  color: var(--c_dark);
  border: none;
  font-weight: 600;
  font-size: large;
}
.form__btnclose:active,
.details__btnclose:active {
  filter: brightness(90%);
}
.form__title,
.details__title {
  font-size: medium;
  text-align: center;
  font-weight: 600;
}
.form__imgBox {
  width: 100px;
  margin: auto;
}
.form__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form__group {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--c_sky);
  padding: 7px 10px;
}
.form__legend,
.form__label {
  font-size: small;
  font-weight: 600;
  color: var(--c_orange);
  margin-left: 5px;
}
.form__input {
  width: 100%;
  font-size: small;
  background-color: transparent;
  border: none;
  outline: none;
}
.form__textarea {
  width: 100%;
  padding: 7px 10px;
  height: 5em;
  border: none;
  outline: none;
  font-size: small;
}
.form__submit {
  width: 100%;
  padding: 10px;
  background-color: var(--c_green);
  border: none;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.form__submit:hover {
  filter: brightness(90%);
}
.search_client_box {
  display: flex;
  gap: 5px;
}
.details__table {
  width: 100%;
  border: none;
  font-size: small;
  text-align: left;
}
.details__table__tbody th,
.details__table__tbody td {
  padding: 10px 0;
  color: var(--c_dark);
}

/* modal de cart */
.cart__modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(15, 15, 15, 0.7);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
.cart__modal.show {
  display: flex;
}
.cart {
  display: grid;
  grid-template-areas:
    "table table client"
    "table table client"
    "details details details";
  gap: 1em;
  width: min(100%, 70rem);
  padding: 1em;
  background-color: #fff;
  border-radius: 3px;
  overflow: auto;
}
.cart__tableBox {
  grid-area: table;
  width: 100%;
  min-height: 300px;
  overflow: auto;
}
.cart__table {
  border: 1px solid var(--c_lightPurple);
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 4px;
}
.cart__table__caption {
  margin-bottom: 10px;
}
.cart__table__thead {
  background-color: #f7f7f7;
  color: var(--c_dark);
  font-size: small;
}
.cart__table__thead th {
  padding: 1em;
}
.cart__table__tbody {
  background-color: transparent;
}
.cart__table__tbody tr {
  font-size: small;
  background-color: #fff;
}
.cart__table__tbody tr:hover {
  filter: brightness(95%);
}
.cart__table__tbody td {
  padding: 10px;
  white-space: nowrap;
}
.cart__table__btn {
  border: 1px solid var(--cl);
  border-radius: 3px;
  padding: 2px 2px 0.5px;
  color: var(--cl);
  font-size: large;
  cursor: pointer;
}
.cart__client {
  grid-area: client;
}
.cart__title {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
}
.cart__subtitle {
  font-size: small;
  font-weight: 600;
}
.client__search {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
.client__select,
.client__inputSearch {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--c_lightPurple);
  outline: none;
}
.client__inputSearch {
  width: 100%;
}
.client__btnSearch {
  padding: 2px 4px 1px;
  font-size: large;
}

.form__client {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cart__details {
  grid-area: details;
}
.cart__details_table {
  background-color: var(--c_dark);
}

/* view new_purchase */
.purchase__box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--c_semidark);
  border-radius: 4px;
  overflow: auto;
}
.purchase__entries {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1em;
}
.purchase__subtitle {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  font-size: medium;
  color: var(--c_lightPurple);
}
.box__entries {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.box__entries .form__group {
  flex: 1 1 300px;
}
.purchase__entries .form__input {
  color: white;
  caret-color: white;
}
.purchase__total__pay {
  align-self: flex-end;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: medium;
  font-weight: 600;
  background-color: #fff;
  color: var(--c_dark);
}
.purchase__total__pay #total {
  color: var(--c_orange);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.purchase__btns__do {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.purchase__entries .form__submit {
  width: min(100%, 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.purchase__entries .form__submit i {
  font-size: large;
}
.purchase__products__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
/* vista purchase */
.block__head {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.purchase__title {
  font-size: x-large;
  font-weight: 400;
  color: white;
  padding-bottom: 7px;
  border-bottom: 1px solid var(--c_lightPurple);
}
.purchase__data {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.purchase__data .form__group {
  flex: 1 1 500px;
}
.purchase__data .form__input {
  color: white;
}
/* nav_views */
.nav__views {
  display: block;
}
.nav__views__ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__views__ul li:not(:last-child)::after {
  content: "/";
  margin: 0 5px;
  color: var(--c_lightPurple);
}
.nav__views__link {
  font-size: small;
  color: var(--c_lightPurple);
  text-decoration: none;
  padding: 0 5px;
}
.nav__views__link:hover {
  text-decoration: underline;
}

/* vista inc dont__acces */
.dont_access {
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.dont_access__imgBox {
  width: min(100%, 200px);
  opacity: 0.3;
}
.dont_access__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.dont_access__message {
  font-size: medium;
  font-weight: 500;
  font-style: italic;
  color: var(--c_orange);
}

@media screen and (max-width: 948px) {
  .filter__products_all_btn {
    margin: 0;
    flex: 1;
  }
}
@media screen and (max-width: 913px) {
  .buttons_btn {
    width: auto;
    flex: 1;
  }
  .form__prod .form__submit {
    width: 100%;
  }
}

@media screen and (max-width: 842px) {
  .buttons_btn {
    width: auto;
    flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .menuBar {
    display: none;
  }
  .btnToggleBar {
    display: block;
  }
  .header {
    display: none;
  }
  .menuBar__responsive {
    display: flex;
  }
  .notifications__details__responsive {
    display: block;
  }
  .view {
    padding: 10px;
    margin-top: 3em;
  }
  .modalForm {
    padding: 0 5px;
  }
  .cart {
    display: flex;
    flex-direction: column;
  }
  .purchase__entries .form__submit {
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  .browser {
    flex-wrap: wrap;
  }
  .form__submit {
    width: 100% !important;
  }
}
@media screen and (max-width: 400px) {
  .browser {
    flex-direction: column;
    align-items: start;
  }
  .browser__input {
    width: 100%;
  }
  .buttons_btn {
    flex: 1 1 200px;
  }
  .form {
    padding: 1em;
  }
}
